<p>
  speed: {{speed}}m/s <br />
  <span style="color:{{battery_color}}">battery: {{battery}}</span><br />
  altitude: {{altitude}}m <br />
</p>
<hr>
<a href="{{thumbnail}}" target="_blank">
  <img src="{{thumbnail}}" alt="">
</a>
